<header class="header">
    <div id="h1">
      <h1><img class="img" src="https://66.media.tumblr.com/d2f3742a109485a021433d3b98e36b08/tumblr_pcrevaQoMw1uw920co1_1280.png" alt="Off-White Air Jordan 1 OG"></h1>
    </div>
    <div id="h2">
      <h2>LOGIN</h2>
    </div>  
    <form class="slot-form-container" action="/login" method="POST">

      <div class="slot-form-container">
        {{!-- <label for="email">Email</label> --}}
        <input type="text" name="email" placeholder="Enter your email" id=""/> {{!-- "required" requires user to fill the field --}}
      </div>
      <div class="slot-form-container">
        {{!-- <label for="">Password</label> --}}
        <input type="password" name="password" placeholder="Enter your password" id=""/> 
      </div>
      <div class="slot-form-container button">
        <button type="submit">Login</button>
      </div>

    </form>

    {{> flashMessage }}
        {{!-- <aside class="quote">
          <em>"This is a true sneakerhead's global community to find a sneaker and its release dates, as well as leak images of hyped sneakers before releasing globally!"</em><br>
          <small>Lost Soles Sneakerhead</small>
        </aside> --}}
  </header>


