body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

// a {
//   color: #00B7FF;
// }

.card {
    border: 1px solid black;
    // border-radius: 10px;
}


.panel-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  background-color: lightgrey;
}

// .panel {
//   width: 28vw;
//   height: 40vh;
//   margin-bottom: 45px;
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: center;
//   border: 1px solid lightgray;
//   border-radius: 20px;
//   padding: 2px 0;
// }

// .panel > h3 {
//     text-align: center;
//     font-size: 16px;
// }

// .ul {
//   margin-top: 30px;
// }