<div class="card">
  <h1>Welcome to {{title}}</h1>
  <h4>A Sneaker Leaker's Global Community!</h4>
  <p>At Lost Soles, our job is to leak images and release dates of the latest sneaker before releasing globally. Sign up to leak a Sneaker!'</p>
</div>