<header class="header">
    <div id="h1">
      <h1><img class="img" src="https://66.media.tumblr.com/d2f3742a109485a021433d3b98e36b08/tumblr_pcrevaQoMw1uw920co1_1280.png" alt="Off-White Air Jordan 1 OG"></h1>
    </div>
    <div id="h2">
      <h2>{{title}}</h2>
    </div>  
    <aside class="quote">
      <em>"This is a true sneakerhead's global community to find a sneaker and its release dates, as well as leak images of hyped sneakers before releasing globally!"</em><br>
      <small>Lost Soles Sneakerhead</small>
    </aside>
</header>

