<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- INSERT BOOTSTRAP LINK HERE, ABOVE CSS --}}
  {{!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav class="nav-bar">
    {{#if currentUser}} 
      <ul class='nav-bar-ul'>
        <li class='nav-bar-li'><a class='nav-bar-item' href='/private'>My Leaks</a></li>
        <li class='nav-bar-li'><a class='nav-bar-item' href='/sneakers'>All Sneakers</a></li>
        <li class='nav-bar-li'><a class='nav-bar-item' href='/sneakers/add'>Leak a Sneaker</a></li>
        <li class='nav-bar-li'><form action="/logout" method="post"><button type="submit">Logout</button></form></li>
      </ul>
    {{else}}
      <ul class="nav-bar-ul">
        <li class='nav-bar-li'><a class='nav-bar-item' href="/public">Home</a></li>
        <li class='nav-bar-li'><a class='nav-bar-item' href="/login">Log In</a></li>
        <li class='nav-bar-li'><a class='nav-bar-item' href="/signup">Create Account</a></li>
        <li class='nav-bar-li'><a class='nav-bar-item' href="/sneakers">Sneakers</a></li>
      </ul>
    {{/if}}

  {{!-- <a href="/slack-login">Login with Slack</a> --}}
  {{!-- <a href="/google-login">Login with Google</a> --}}
  </nav>

  {{{body}}}
  
  {{!-- INSERT BOOTSTRAP SCRIPTS HERE --}}
  {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}
  <script src="/javascripts/script.js"></script>
</body>
</html>