<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>

    {{#if currentUser}}
      <a href="/private">My Profile Page</a><br>
      <a href="/rooms/add">Add a Shoe</a><br> {{!-- check href folder and change to "shoe" --}}
      <a href="/shoes">View All Shoes</a> 

      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    {{else}}
      <a href="/login">Login</a>
      <br>
      <a href="/signup">Create an Account</a>
      
      {{!-- <a href="/slack-login">Login with Slack</a> --}}
      {{!-- <a href="/google-login">Login with Google</a> --}}
    {{/if}}
      <a href="/public">Public Page</a>


  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>